[Unit]
Description=Hyperidle Daemon
After=graphical.target

[Service]
Type=simple
ExecStart=/etc/profiles/per-user/kern/bin/hypridle
Restart=on-failure
Environment=DISPLAY=:0
Environment=XDG_RUNTIME_DIR=/run/user/%U

[Install]
WantedBy=default.target

